body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  background: #e8e8e8; }

main {
  position: relative;
  overflow: hidden; }

.header-background {
  text-align: center;
  background-color: #145374; }

.header-background-news {
  display: block;
  overflow: hidden;
  padding: 0px 50px;
  text-align: center;
  background-color: #145374; }

.section-wrapper {
  display: block;
  padding-top: 10px;
  text-align: center;
  overflow: hidden; }

.topic-wrapper {
  width: 50%;
  display: inline;
  text-align: center;
  position: relative; }

.topic-icon-wrapper {
  padding: 10px;
  margin: 0% 30%; }

.topic-icon-wrapper:hover {
  background-color: #c7c6c6;
  transform: scale(1.03);
  border-radius: 5%;
  cursor: pointer; }

.topic-icon {
  width: 120px; }

.topic-wrapper a, .health-description a {
  text-decoration: none;
  color: black; }

.news-topic-wrapper {
  display: block;
  padding-top: 5px;
  text-align: center;
  margin: auto;
  position: relative; }

.news-topic-icon {
  display: inline-block;
  padding: 0px 5px; }

.topic-icon {
  color: black;
  padding: 10px 80px;
  font-size: 50px; }

.feed-title a {
  text-decoration: none;
  color: #e8e8e8; }

.feed-title {
  padding-top: 24px;
  margin-bottom: -12px;
  text-align: left; }

.icon-text {
  display: block;
  margin: auto;
  border-radius: 5px;
  color: #e8e8e8;
  border: none;
  height: 76px;
  background: #145374;
  font-size: 20px;
  outline: none;
  width: 180px;
  font-weight: 800; }

.icon-text:hover {
  cursor: pointer;
  opacity: 0.5; }

.news-feed-title {
  padding: 80px;
  margin: 0px 5px; }

.news-feed-title:hover {
  opacity: 0.5; }

.feed-date {
  display: none; }

.feed-item {
  display: inline-table;
  width: 30%;
  margin: 1.5% 1.5%;
  overflow: hidden;
  position: relative; }

.feed-item:hover, .health-item:hover {
  background-color: #e8e8e8;
  opacity: 0.8;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  transform: scale(1.03); }

.feed-item-image {
  width: 100%;
  height: auto;
  min-height: 260px;
  max-height: 260px;
  display: block; }

.feed-item-text {
  text-align: left;
  bottom: 0px;
  font-size: 25px;
  margin: 0px;
  color: black;
  font-weight: 400; }

.feed-description img {
  margin: auto; }

.feed-description a {
  text-align: left;
  text-decoration: none;
  color: black; }

.feed-description {
  padding: 0px 20px 20px 5px;
  text-align: left;
  font-family: 'Segoe UI', sans-serif;
  font-weight: 400;
  font-size: 28px; }

.weather-wrapper {
  width: 30%;
  display: inline-block;
  text-align: center;
  padding: 36px 0px;
  margin: 36px 0px; }

.weather-now-wrapper {
  text-align: center;
  padding: 100px 0px;
  background-color: lightgray;
  width: 450px;
  margin: auto;
  border-radius: 50%;
  margin-top: 44px; }

.temperature {
  font-size: 64px;
  margin-top: -30px;
  font-weight: 600;
  color: #145374; }

.temp {
  font-size: 40px;
  font-weight: 800;
  color: black; }

.weather-3 {
  padding: 30px 40px;
  color: black;
  border-bottom: 1px solid black;
  margin: 0px 70px; }

.weather-wrapper:hover {
  background-color: #5588a3;
  cursor: default;
  border-radius: 10px;
  transform: scale(1.03); }

.weather-image-wrapper img {
  width: 100px;
  height: 100px; }

#weather {
  text-align: center;
  margin: 10px 10px; }

.city-name {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 30px;
  margin-top: -30px; }

.weather-description {
  margin-top: 20px; }

.section-wrapper-health {
  display: block;
  overflow: hidden;
  padding: 20px; }

.health-item {
  margin: 1%;
  display: inline-block;
  width: 48%; }

.health-item:nth-child(even) {
  float: right; }

.health-description {
  padding: 0px 20px 20px 5px;
  text-align: left;
  font-family: 'Segoe UI', sans-serif;
  font-weight: 400;
  font-size: 24px; }

.mojtvprogram {
  background-color: #e8e8e8 !important;
  font-family: 'Segoe UI', sans-serif !important; }

.mojtvprogram table {
  width: auto !important; }

.mojtvprogram h3 {
  display: none !important; }

.mojtvprogram h4 a {
  font-family: 'Segoe UI', sans-serif !important;
  font-size: 20px !important;
  color: #e8e8e8 !important;
  padding: 24px 24px !important; }

.mojtvprogram h4 a:hover {
  border-radius: 5px !important;
  background-color: #9b9b9b !important; }

.mojtvprogram h4 {
  display: inline-block !important;
  float: none !important;
  margin: 4px !important;
  border-bottom: none !important;
  border-radius: 5px;
  background: #145374 !important; }

.mojtvprogrammenu {
  display: block;
  padding-top: 5px;
  text-align: center;
  margin: auto;
  position: relative; }

td.mojtvtitle, .mojtvtitle a, strong, .emisije, td a {
  background-color: #e8e8e8 !important; }

.mojtvprogram table {
  margin: 44px 0px 0px 24px !important; }

.mojtvprogram td.mojtvtime {
  background: #9b9b9b !important; }

.mojtvprogram td {
  padding: 24px 32px !important;
  border-bottom: 1px solid black !important;
  font-size: 24px; }

.tvopen a {
  color: black !important;
  border-radius: 5px !important; }

.tvopen a:hover {
  transform: scale(1.03); }

.mojtvprogram td.mojtvtitle a.film {
  color: black !important;
  border-bottom: 1px solid black !important; }

.transport {
  display: block;
  overflow: hidden;
  margin-top: 10px;
  text-align: center; }

.transport-wrapper {
  margin: 24px;
  text-align: center;
  overflow: hidden;
  display: block; }

.transport-type {
  margin: 0px 72px; }

.transport-icon-wrapper {
  text-align: center;
  margin: 0px 48px;
  padding: 48px 84px;
  display: inline-block; }

.transport-icon-wrapper:hover {
  background-color: #c7c6c6;
  cursor: pointer;
  border-radius: 10px; }

.transport-text-wrapper {
  background: #c7c6c6;
  padding: 22px;
  display: inline-block;
  margin: 20px 20px;
  border-radius: 10px;
  margin-top: 32px; }

.transport-text-wrapper-bus {
  background: #c7c6c6;
  width: 300px;
  padding: 36px;
  display: inline-block;
  margin: 23px 20px;
  border-radius: 10px;
  margin-top: 32px; }

.transport-text-wrapper:hover, .transport-text-wrapper-bus:hover {
  opacity: 0.7;
  transform: scale(1.03); }

.transport-text {
  font-size: 32px;
  color: black;
  font-family: 'Segoe UI', sans-serif;
  font-weight: 700; }

#taxi-section, #bus-section, #tram-section {
  display: none; }

#taxi:hover, #bus:hover, #tram:hover {
  transform: scale(1.03);
  background-color: #c7c6c6 !important;
  border-radius: 10px !important; }

#transport-choose {
  text-align: center;
  color: black; }

input[type=text], input[type=email], textarea {
  width: 100%;
  padding: 28px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  font-family: 'Segoe UI', sans-serif; }

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-weight: 800;
  color: #145374;
  font-size: 22px;
  font-family: 'Segoe UI', sans-serif; }

/* Style the submit button */
.form-submit {
  background-color: #145374;
  color: #e8e8e8;
  padding: 22px 34px;
  border: none;
  font-weight: 800;
  font-size: 22px;
  border-radius: 4px;
  font-family: 'Segoe UI', sans-serif;
  cursor: pointer;
  float: right; }

/* Style the container */
.container {
  border-radius: 5px;
  background-color: #e8e8e8 !important;
  padding: 20px; }

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 15%;
  margin-top: 6px; }

.row {
  padding-bottom: 32px; }

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 85%;
  margin-top: 6px; }

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both; }

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0; } }
@media (min-width: 750px) and (max-width: 1200px) {
  .feed-item {
    width: 40%; }

  .icon-text {
    height: 50px;
    width: 100px;
    font-size: 10px; }

  .feed-item-image {
    min-height: 200px;
    max-height: 200px; }

  h3, .feed-item-text {
    font-size: 20px !important; }

  h2 {
    font-size: 24px !important; }

  h1 {
    font-size: 36px !important; }

  h5 {
    font-size: 18px !important; }

  .feed-description {
    font-size: 18px; }

  .weather-now-wrapper {
    width: 250px;
    padding: 46px 0px; }

  .weather-wrapper {
    padding: 12px 0px;
    margin: 12px 0px; }

  .transport-icon-wrapper {
    margin: 0px;
    padding: 0px 40px; }

  .topic-icon {
    width: 130px;
    padding: 10px 0px; }

  .health-description {
    font-size: 18px; }

  .section-wrapper {
    padding-top: 34px; } }
@media (min-width: 0px) and (max-width: 750px) {
  .topic-icon-wrapper {
    padding: 0px;
    margin: 0%; }

  main {
    margin: 0px 10px; }

  h1 {
    font-size: 28px !important; }

  h2 {
    font-size: 20px !important; }

  h3 {
    font-size: 16px !important; }

  h4 {
    font-size: 20px !important; }

  h5 {
    font-size: 10px !important; }

  hr {
    margin-top: 12px; }

  .feed-item {
    width: 100%;
    margin: 0px 0px 20px 0px; }

  .feed-description {
    font-size: 16px;
    padding: 2px; }

  .feed-item-text {
    font-size: 16px; }

  .feed-item-image {
    min-height: 180px;
    max-height: 180px; }

  .news-feed-title {
    padding: 35px; }

  .inline-left {
    padding-top: 2px !important; }

  .icon-text {
    height: 60px;
    font-weight: 400px;
    font-size: 12px;
    margin-top: 5px !important; }

  .topic-icon {
    width: 80px;
    padding: 10px 10px; }

  .news-topic-icon {
    width: 45%; }

  .city-name {
    margin-bottom: 0px; }

  .weather-now-wrapper {
    padding: 50px;
    width: 72px; }

  .weather-wrapper {
    width: 50%;
    padding: 4px 0px;
    margin: 12px 0px; }

  .weather-image-wrapper img {
    width: 70px;
    height: 70px; }

  .weather-3 {
    padding: 20px 0px 0px 0px;
    margin: 0px 24px; }

  .transport-icon-wrapper {
    margin: 0px;
    padding: 5px; }

  .transport-type {
    margin: 0px; }

  .transport-text {
    font-size: 16px; }

  .transport-text-wrapper {
    margin: 4px 0px;
    width: 200px; }

  .transport-text-wrapper-bus {
    width: 160px;
    margin: 4px 0px; }

  .health-item {
    margin-bottom: 10px;
    width: 100%; }

  .health-description {
    padding: 0px 20px 20px 0px;
    font-size: 16px; }

  .section-wrapper-health {
    padding: 0px; }

  .health-item:nth-child(even) {
    float: none; }

  .mojtvprogram h4 {
    width: 45%;
    margin: 1px !important; }

  .mojtvprogram h4 a {
    padding: 12px !important;
    font-size: 12px !important; }

  .mojtvprogram table {
    margin: 0 !important; }

  .mojtvprogram td {
    padding: 16px 12px !important;
    border-bottom: 1px solid black !important;
    font-size: 14px; }

  .header-background-news {
    padding: 0px 20px; }

  .section-wrapper {
    padding-top: 34px; } }
a {
  text-decoration: none !important; }

h1 {
  color: #e8e8e8;
  padding: 20px 0px;
  margin: 0;
  font-size: 50px; }

h2 {
  color: #145374;
  margin: 0;
  font-size: 35px; }

h3 {
  font-size: 28px;
  font-weight: 900;
  color: #145374;
  margin: 0; }

h4 {
  font-size: 50px;
  color: #e8e8e8;
  margin: 0; }

h5 {
  font-size: 32px;
  color: black;
  margin: 0;
  font-weight: 400; }

.red {
  background: #a03337; }

.grey {
  background: #646464; }

.orange {
  background: #c18836; }

.blue {
  background: #145374; }

.left {
  float: left; }

.right {
  float: right; }

.inline-left {
  display: inline-block;
  padding-top: 15px;
  float: left; }

.inline-right {
  display: inline-block;
  float: right; }

.center {
  text-align: center; }

.border {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04); }

.back {
  padding: 10px 10px;
  width: 50px;
  height: 50px;
  font-size: 50px;
  color: #e8e8e8; }

.back:hover {
  color: #145374;
  background-color: #e8e8e8;
  border-radius: 50%; }

hr {
  border: 1px solid black; }

/*# sourceMappingURL=style.css.map */
