body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    background: #fdfdfd;
}

main{
    position: relative;
    overflow: hidden;
}
.header-background {
    text-align: center;
    background-color: black;
}

.header-background-news{
    display: block;
    overflow: hidden;
    padding: 0px 50px;
    text-align: center;
    background-color: black;
}

.section-wrapper {
    display: block;
    padding-top: 30px;
    text-align: center;
    overflow: hidden;
}

.topic-wrapper {
    width: 50%;
    display: inline;
    text-align: center;
    position: relative;
}

.topic-icon-wrapper{
    margin: 0% 30%;
}

.topic-icon-wrapper:hover {
     background-color: rgb(185, 179, 179);
     border-radius: 5%;
     cursor: pointer;
 }

.topic-icon {
    width: 120px;
}


.topic-wrapper a{
    text-decoration: none;
    color: black;
}

.news-topic-wrapper{
    display: block;
    padding-top: 20px;
    text-align: center;
    margin: auto;
    position: relative;
}

.news-topic-icon{
display: inline-block;
padding: 0px 20px;
}

.topic-icon{
    color: black;
    padding: 5px 5px;
    font-size: 50px; 
}
.feed-title a{
    text-decoration: none;
    color: #dfdfdf;
}
.feed-title{
    text-align: center;
    background-color: black;
}

.icon-text{
    display: block;
    margin: auto;
    border-radius: 15px;
    color: #dfdfdf;
    border: none;
    height: 110px;
    background: black;
    font-size: 25px;
    outline: none;
    width: 200px;
    font-weight: 800;
}
.news-feed-title{
    width: 50%;
    padding: 80px;
    margin: auto;
}
.icon-text:hover{
    cursor: pointer;
    opacity: 0.5;
    
}
.feed-date{
    display: none;
}
.feed-item{
    display: inline-table;
    width: 45%;
    margin: 30px 30px;
    overflow: hidden;
    position: relative;
}

.feed-item:hover{
  background-color: #e8e8e8;
  opacity: 0.5;
}

.feed-item-image{
    width: 100%;
    min-height: 400px;
    max-height: 400px;
    display: block;
    
}
.feed-item-text{
    position: absolute;
    bottom: 0px;   
    margin: 0px; 
    background-color: black;
    color: #dfdfdf;
    font-weight: 700;
}
.feed-description img{
margin: auto;
}

.feed-description a{
    text-decoration: none;
    color: black; 
}
.feed-description{
    font-family: 'Segoe UI', sans-serif;
    font-weight: 400;
    font-size: 25px;
}

.weather-wrapper{
    display: inline-block;
    text-align: center;
   padding: 56px 68px;
}

.weather-now-wrapper{
text-align: center;
background-color:lightgray;
padding: 102px 68px;
}

.weather-wrapper:hover{
background-color:lightgray;
cursor: default;
}

.weather-image-wrapper img{
    width: 80px;
    height: 80px;
}

#weather{
text-align: center;
margin: 10px 10px;

}

.weather-submit-btn{
    font-size: 23px;
    cursor: pointer;
    color: white;
    font-weight: 900;
    background: black;
    border: 3px solid black;
}

option{
    cursor: pointer;
}
select{
    outline: none;
    cursor: pointer;
    width: 160px;
    font-weight: 900;
    font-size: 25px;
    border: 3px solid black;
}

.weather-description{
    margin-top: 20px;
}

.mojtvprogram table {
    width: auto !important;

}

.mojtvprogram h3 {
    display: none !important;
}

.mojtvprogram h4 a {
   
    border: 1px solid black !important;
    padding: 24px 24px !important;
    font-size: 26px !important;
    color: #dfdfdf !important;
    background: black;
}

.mojtvprogram h4{
    display: inline-block !important;
    float: none !important;
}
.mojtvprogrammenu{
    margin-top: 24px;
    text-align: center;
}

.mojtvprogram table {
    margin: 44px 0px 0px 24px !important;

}

.mojtvprogram td{
    padding: 24px 32px !important;
    border-bottom: 1px solid black !important;
    font-size: 24px;
}
.tvopen a{
    background: white !important;
    color: black !important;
}

.transport-wrapper{
    margin: 24px;
   text-align: center;
    overflow: hidden;
    display:block;
}

.transport-type{
    margin: 0px 72px;
    display: inline-table;
}

.transport-icon-wrapper{
    margin: 10px 10px;
}

.transport-text-wrapper{
    background: darkgrey;
    padding: 22px;
    border-radius: 10px;
    margin-top: 32px;
}
.transport-text{
    font-size:20px;
    color: black;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 700;
}