body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    background: #e8e8e8;
}


main{
    position: relative;
    overflow: hidden;
}
.header-background {
    text-align: center;
    background-color: #145374;
}

.header-background-news{
    display: block;
    overflow: hidden;
    padding: 0px 50px;
    text-align: center;
    background-color: #145374;
}

.section-wrapper {
    display: block;
    padding-top: 10px;
    text-align: center;
    overflow: hidden;
}

.topic-wrapper {
    width: 50%;
    display: inline;
    text-align: center;
    position: relative;
}

.topic-icon-wrapper{
    padding: 10px;
    margin: 0% 30%;
}

.topic-icon-wrapper:hover {
     background-color: rgb(199, 198, 198);
    transform: scale(1.03);
     border-radius: 5%;
     cursor: pointer;
 }

.topic-icon {
    width: 120px;
}


.topic-wrapper a{
    text-decoration: none;
    color: black;
}

.news-topic-wrapper{
    display: block;
    padding-top: 5px;
    text-align: center;
    margin: auto;
    position: relative;
}

.news-topic-icon{
display: inline-block;
padding: 0px 5px;
}

.topic-icon{
    color: black;
    padding: 5px 5px;
    font-size: 50px; 
}
.feed-title a{
    text-decoration: none;
    color: #e8e8e8;
}
.feed-title{
    padding-top: 24px;
    text-align: left;
}

.icon-text{
    display: block;
    margin: auto;
    border-radius: 5px;
    color: #e8e8e8;
    border: none;
    height: 110px;
    background: #145374;
    font-size: 20px;
    outline: none;
    width: 180px;
    font-weight: 800;
}

.icon-text:hover{
    cursor: pointer;
    opacity: 0.5;
    
}

.news-feed-title{
    width: 50%;
    padding: 80px;
    margin: auto;
}

.news-feed-title:hover{
    opacity: 0.5;
}

.feed-date{
    display: none;
}
.feed-item{
    display: inline-table;
    width: 30%;
    margin: 1.5% 1.5%;
    overflow: hidden;
    position: relative;
}

.feed-item:hover{
  background-color: #e8e8e8;
   opacity: 0.8;
   box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
//   box-shadow: 2px 7px rgb(199, 198, 198);
  transform: scale(1.03);
}

.feed-item-image{
    width: 100%;
    height: auto;
    min-height: 260px;
    max-height: 260px;
    display: block;
    
}
.feed-item-text{
    text-align: left;
    bottom: 0px;
    font-size: 25px;
    margin: 0px;
    color: black;
    font-weight: 400;
}
.feed-description img{
margin: auto;
}

.feed-description a{
    text-align: left;
    text-decoration: none;
    color: black; 
}
.feed-description{
    padding: 0px 20px 20px 5px;
    text-align: left;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 400;
    font-size: 28px;
}

.weather-wrapper{
    width: 30%;
    display: inline-block;
    text-align: center;
    padding: 36px 0px;
    margin: 36px 0px;
}

.weather-now-wrapper{
text-align: center;
padding: 100px 0px;
background-color:lightgray;
width: 450px;
margin: auto;
border-radius: 50%;
margin-top: 44px;
}

.temperature{
    font-size: 64px;
    margin-top: -30px;
    font-weight: 600;
    color: #145374;
}

.temp{
    font-size: 40px;
    font-weight: 800;
    color: black;
}

.weather-3{
    padding: 30px 40px;
    color: black;
    border-bottom: 1px solid black;
    margin: 0px 70px;
}
.weather-wrapper:hover{
background-color:#5588a3;
cursor: default;
border-radius: 10px;
transform: scale(1.03);
}

.weather-image-wrapper img{
    width: 100px;
    height: 100px;
}

#weather{
text-align: center;
margin: 10px 10px;

}

.city-name{
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 30px;
    margin-top: -30px;
}
.weather-submit-btn{
    font-size: 23px;
    cursor: pointer;
    color: white;
    font-weight: 900;
    background: black;
    border: 3px solid black;
}

option{
    cursor: pointer;
}
select{
    outline: none;
    cursor: pointer;
    width: 160px;
    font-weight: 900;
    font-size: 25px;
    border: 3px solid black;
}

.weather-description{
    margin-top: 20px;
}

.mojtvprogram table {
    width: auto !important;

}

.mojtvprogram h3 {
    display: none !important;
}

.mojtvprogram h4 a {
   
    border: 1px solid black !important;
    padding: 24px 24px !important;
    font-size: 26px !important;
    color: #dfdfdf !important;
    background: black;
}

.mojtvprogram h4{
    display: inline-block !important;
    float: none !important;
}
.mojtvprogrammenu{
    margin-top: 24px;
    text-align: center;
}

.mojtvprogram table {
    margin: 44px 0px 0px 24px !important;

}

.mojtvprogram td{
    padding: 24px 32px !important;
    border-bottom: 1px solid black !important;
    font-size: 24px;
}
.tvopen a{
    background: white !important;
    color: black !important;
}

.transport{
display: block;
overflow: hidden;
margin-top: 10px;
text-align: center;
}
.transport-wrapper{
    margin: 24px;
   text-align: center;
    overflow: hidden;
    display:block;
}

.transport-type{
    margin: 0px 72px;
}

.transport-icon-wrapper{
    text-align: center;
    margin: 0px 48px;
    padding: 48px 84px;
    display: inline-block;
}

.transport-icon-wrapper:hover{
    background-color: rgb(199, 198, 198);
    cursor: pointer;
    border-radius: 10px;
}

.transport-text-wrapper{
    background: rgb(199, 198, 198);
    padding: 22px;
    display: inline-block;
    margin: 20px 20px;
    border-radius: 10px;
    margin-top: 32px;
}

.transport-text-wrapper-bus{
    background: rgb(199, 198, 198);
    width: 300px;
    padding: 36px;
    display: inline-block;
    margin: 23px 20px;
    border-radius: 10px;
    margin-top: 32px;
}

.transport-text-wrapper:hover, .transport-text-wrapper-bus:hover{
    opacity: 0.7;
    transform: scale(1.03);
}
.transport-text{
    font-size:32px;
    color: black;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 700;
}
#taxi-section, #bus-section, #tram-section{
    display: none;
}

#taxi:hover, #bus:hover, #tram:hover{
    transform: scale(1.03);
    background-color: rgb(199, 198, 198) !important;
    border-radius: 10px !important;
}
#transport-choose{
    text-align: center;
    color: black;
}
// @media only screen and (max-width: 1464px) {
//     body {
//      display: none;
//     }
//   }