@import 'layout';
@import 'form';
@import 'responsive';

a{
    text-decoration: none !important;
}
h1 {
    color: #e8e8e8;
    padding: 20px 0px;
    margin: 0;
    font-size: 50px;
}

h2 {
    color: #145374;
    margin: 0;
    font-size: 35px;
}

h3{
    font-size: 28px;
    font-weight: 900;
    color: #145374;
    margin: 0;
}

h4{
    font-size: 50px;
    color: #e8e8e8;
    margin: 0;
}

h5{
    font-size: 32px;
    color: black;
    margin: 0;
    font-weight: 400;
}

.red{
 background: #a03337;
}

.grey{
    background: rgb(100, 100, 100);
}
.orange{
    background: #c18836;
}

.blue{
    background: #145374;
}
.left {
    float: left;
}

.right {
    float: right;
}
.inline-left{
    display: inline-block;
    padding-top: 15px;
    float: left;
}
.inline-right{
    display: inline-block;
    float: right;
}

.center{
    text-align: center;
}
.border{
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);

}

.back{
     padding: 10px 10px;
     width: 50px;
     height: 50px;
     font-size: 50px;
     color: #e8e8e8
     }
 .back:hover{
     color: #145374;
     background-color:#e8e8e8;
     border-radius: 50%;
 }

 hr{
    border: 1px solid black;
 }